.backgroundImage {
    background-image: url('/circuitWires.png');
    background-position-x: center;
    background-repeat: repeat-y;
    background-size: contain;
    position: absolute;
    opacity: 0.1;
    height: 75%;
    width: 100%;
    top: 0;
    bottom: 0;
}

.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerContainer {
    margin-top: 25px;
}

.bigWords {
    /* font-family: "Nitti Mostro Comic Solid", "Nitti Mostro Comic Solid Placeholder", sans-serif; */
    text-align: left;
    font-size: 9vw;
    font-weight: 700;
}

.name {
    color: #0058dd;
}

.textAnimation {
    /* font-family: "Nitti Mostro Comic Solid", "Nitti Mostro Comic Solid Placeholder", sans-serif; */
    font-weight: 900;
    border-radius: 40px;
    background: #ffc36a;
    color:#c07300;
    /* opacity: 0;
    animation-name: cycle;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    content: ''; */
    font-size: 6vw;
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: 0px 15px;
    text-transform: uppercase;
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .bigWords {
        font-size: 7rem;
    }

    .textAnimation {
        font-size: 5rem;
    }
}

@keyframes cycle {
    0% {
        opacity: 0;
        transform: translateX(20px);
        filter: blur(5px);
    }

    25% {
        opacity: 1;
        transform: translateX(0px);
        filter: blur(0px);
    }

    75% {
        opacity: 1;
        transform: translateX(0px);
        filter: blur(0px);
    }

    100% {
        opacity: 0;
        transform: translateX(-20px);
        filter: blur(5px);
    }
}

.backgroundAnimation {
    position: absolute;
    top: 0;
    width: 100%;
    height: 25vw;
}

@media screen and (min-width: 1200px) {
    .backgroundAnimation {
        height: 20rem;
    }
}

.logo {
    height: 1em;
}

.eqLogo {
    width: 7vw;
    height: 7vw;
}

.eqLogo svg {
    overflow: visible;
}

.bottomCap {
    animation-name: botCapCycle;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    transform: none;
    animation-timing-function: cubic-bezier(0.19, 1, 0.2, 2);
}

@keyframes botCapCycle {

    0%,
    100% {
        transform: none;
    }

    50% {
        transform: rotate(-25deg) translate3d(-45px, 30px, 0px);
    }
}

.topCap {
    animation-name: topCapCycle;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    transform: none;
    animation-timing-function: cubic-bezier(0.19, 1, 0.2, 2);
}

@keyframes topCapCycle {

    0%,
    100% {
        transform: none;
    }

    50% {
        transform: rotate(-25deg) translate3d(-15px, 0vw, 0px);
    }
}

@media screen and (min-width: 1200px) {
    .eqLogo {
        width: 5rem;
        height: 5rem;
    }
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}

.mountainRange {
    margin-top: 25px;
    position: relative;
    width: 95vw;
    height: 40vw;
    max-width: 1200px;
    max-height: 500px;
}

.transitionDiv {
    position: fixed;
    overflow: hidden;
    width: 95vw;
    height: 100vh;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(3);
}

/* 
    transitionDiv is:       position: fixed;        overflow: hidden; 
    transitionSvg is:   position: absolute;     overflow: visible;
    so that the svg can overflow out of the div without making the page scrollable
*/

.transitionSvg {
    position: absolute;
    overflow: visible;
    top: 0;
    left: 0;
}

.siteHeader {
    color: #0058dd;
}

.footer {
    margin-top: 25px;
    font-size: 1rem;
    text-align: center;
}

.socialNav {
    font-size: 2rem;
    transition: color 0.15s ease, border-color 0.15s ease;
}

.socialNav:hover,
.socialNav:focus,
.socialNav:active {
    color: #0070f3;
    border-color: #0070f3;
}

.image {
    /* max-width: 320px;
    border-radius: 800px 800px 16px 16px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}